.screen {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    background: #4c60c8;
    box-shadow: inset 5px 5px 9px #485bbe,
    inset -5px -5px 9px #5065d2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}